@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply px-6 py-2.5 rounded-xl text-white font-semibold
  bg-gradient-to-r from-orange-500 to-red-500
  shadow-md hover:shadow-orange-400/50
  hover:scale-105 active:scale-95
  transition-all duration-300;
}
